<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>
                      <% if item[:externalurl] %>
                        <a class="decorated" href="<%= item[:externalurl] %>"><%= item[:title] %></a> ↦
                      <% else %>
                        <%= item[:title] %>
                      <% end %>
                    </h1>
                    <% unless item[:subtitle].nil?
                      %><h2 class="subheading"><%= item[:subtitle] %></h2><%
                    end %>

                    <% if item[:kind] == "article" %>
                      <span class="meta">
                        <% unless @no_date %>
                        <%= formatted_date(item[:created_at]) %> ·
                        <% end %>

                        <a href="<%= item.path %>">∞</a>
                      </span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">

(function() {
    var d = new Date();
    var s = d.getSeconds() + "";
    var m = d.getMinutes() + "";
    var h = d.getHours() + "";

    if (s.length < 2) s = "0" + s;
    if (m.length < 2) m = "0" + m;
    if (h.length < 2) h = "0" + h;

    $(".intro-header").css("background-color", '#' + h + m + s);
})();

</script>
